* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-color: #f1f2f4;
}

header{
    background-color: white;
}

/* 배경을 어둡게 덮는 레이어 */
.modal-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* 중앙 화이트 박스 */
.modal-content {
    position: relative;
    background: white;
    padding: 250px;
    border-radius: 20px;
    text-align: center;
}

/* 화이트 박스 기준으로 글자 위에 배치 */
.modal-content h2 {      
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    text-align: center;
}

/* 두 박스를 감싸는 컨테이너 */
.box-container {
    display: flex;
    gap: 20px;         
    justify-content: center;
    margin: 20px 0; 
}

/* 공통 박스 스타일 */
.box {
    width: 150px;
    height: 150px;
    font-size: 110%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #111;
    background-color: #fbfbfb;
    border-radius: 15px;
    border: 1px solid #e6e6e6;
    font-weight: bold;
}

.box:hover {
    opacity: 0.8;
    border: 1px solid #111;
    cursor: pointer;
}

.modal-close-btn:hover{
    cursor: pointer;
}
