* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F1F2F4;
}

header{
    background-color: #fff;
}

/* 배경을 어둡게 덮는 레이어 */
.modal-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* 중앙 화이트 박스 */
.modal-content {
    position: relative;
    background: #fff;
    padding: 50px;    
    border-radius: 20px;
    text-align: center;
}

/* 화이트 박스 기준으로 글자 위에 배치 */
.modal-content h2 {      
    position: absolute;
    top: 24px;
    left: 0;
    right: 0;
    text-align: center;
}

/* 두 박스를 감싸는 컨테이너 */
.box-container {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin: 20px 0; 
}

/* 공통 박스 스타일 */
.box {
    width: 200px;
    height: 200px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #111;
    background-color: #f1f2f4;
    border-radius: 15px;
    border: 1px solid #f1f2f4;
    font-weight: bold;
}

.box:hover {
    opacity: 0.8;
    border: 1px solid #111;
    cursor: pointer;    
}

#canvas {    
    display: block;            
    overflow-y: scroll;
    justify-content: center;
    align-items: center;       
    height: 90vh;
}

#canvas::-webkit-scrollbar {
    width: 10px;
}

#canvas::-webkit-scrollbar-thumb {
    height: 20%;
    background: #888888;
    border-radius: 10px;
}

.card {       
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    background-color: #fff;       
    max-height: 100%;     
}

.card-horizontal {    
    width: 60%;    
    aspect-ratio: 94 / 54;    
    object-fit: contain;   
}

.card-vertical {    
    width: auto; 
    height: 80%;
    max-width: 400px;     
    aspect-ratio: 54 / 94;         
}

.tool-bar {
    position: fixed;
    width: 80px;
    height: 100%;
    background-color: #fff;
    border: 1px solid #f1f2f4;
}