/* Header */
a {
    color: #111;
    text-decoration: none;
}

/* web font cdn */


/* Pretendard */

* {
    font-family: 'Pretendard', sans-serif;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}





header {
  border-bottom: 2px solid #ececec;
}

.header-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px;
}
.navbar {
  display: flex;
  align-items: center;
  height: 80px;
}

.navbar_logo img {
  height: 60px;
}

/* Menu */
.navbar_menu {
  display: flex;
  list-style: none;
  margin: auto; 
  gap: 3rem;      
  font-size: 1.2rem;
  font-weight: 900;
}

.navbar_menu a {
  color: #111;
  transition: opacity 0.3s;
}

.navbar_menu a:hover {
  opacity: 0.6;
}

.btn {
    background: #111;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

.btn:hover {
    opacity: 0.8;
}