/* Header */
a {
    color: #111;
    text-decoration: none;
}

/* web font cdn */


/* Pretendard */

/* * {
    font-family: 'Pretendard', sans-serif;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
} */





header {
    border-bottom: 2px solid #ececec;
}

.header-inner {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 100px;
}

nav {
    display: flex;
    gap: 3rem;
    margin: 0 auto;
    align-self: flex-end;
}

nav a {
  padding: 0.6rem 1.2rem;
  font-size: 1.3rem;
  font-weight: 500;
  border-radius: 6px;
}

nav a:hover {
    opacity: 0.6;
}

.btn {
    background: #111;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

.btn:hover {
    opacity: 0.8;
}