* { margin: 0; padding: 0; box-sizing: border-box; }
body {
    overflow: hidden;
}
.flex {
    display: flex;
}
.jcsb {
    justify-content: space-between;
}
#detail-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 0;
    z-index: 0; 
    transition: 0.5s;
}
#detail-container.active {
    opacity: 1;
    z-index: 100; 
    height: calc(100vh - 80px);
}
#detail-container #capture_area {
    width: 80%;
    height: 60%;
    background-color: #555;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    color: #fff;
}

#detail-container #close_btn {
    position: absolute;
    top: 30px;
    right: 30px;
    background: rgba(0,0,0,0);
    color: #fff;
    border: white 3px solid;
    border-radius: 50%;
    font-weight: bold;
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;
}
#detail-container #download_btn {
    position: absolute;
    top: 90px;
    right: 30px;
    background: rgba(0,0,0,0);
    color: #fff;
    border: white 3px solid;
    border-radius: 50%;
    font-weight: bold;
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;
}
#fan-container {
    width: 100%;
    height: calc(100vh - 80px);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 200px;
}

#fan-wrapper {
    position: relative;
    width: 800px;
    height: 200px;
}

.card {
    width: 160px;
    height: 250px;
    position: absolute;
    left: 50%;
    margin-left: -70px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 15px;
    color: #fff;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    cursor: pointer;
    transform-origin: center 600px; /*중요*/
    transform: rotate(var(--rotate-deg));
    transition: 0.2s ease;
}


.card span {
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 20px;
}

.card:hover {
    transform: rotate(var(--rotate-deg)) scale(1.1);
    z-index: 10 !important;
    box-shadow: 0 8px 25px rgba(0,0,0,0.3);
}

.card em {
    font-style: normal;
    font-size: 22px;
    font-weight: bold;
}